# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  schedule:
     - cron: '0 10 * * *'
  workflow_dispatch:


name: inflow_tmwb

jobs:
  docker:
    runs-on: ubuntu-latest
    container: rqthomas/vera-rocker:latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3

      - name: Install
        shell: Rscript {0}
        run: |
          install.packages(c("GSODR","elevatr","sf","raster","soilDB","pacman","foreign","zoo","rMR"))

      - name: Generate forecasts
        shell: Rscript {0}
        run: |
          source("model_code/inflow_tmwb/tmwb_inflow.R")
